:root {
  --light-blue-10: rgba(60, 126, 243, 0.1);
  --yellow: #f2c94c;
  --yellow-10: rgba(242, 200, 76, 0.1);
  --shade: #f0efff;
  --green: #6fcf97;
  --green-10: rgba(39, 174, 95, 0.1);
  --red-10: rgba(255, 38, 74, 0.1);
  --dark-blue-05: rgba(19, 49, 89, 0.05);
  --dark-blue-10: rgba(19, 49, 89, 0.1);
  --dark-blue-65: rgba(19, 49, 89, 0.65);
}

/*****************************
         Common Style 
******************************/
body {
  overflow-x: hidden;
}
.text-gray {
  color: var(--gray) !important;
}
.text-light-blue {
  color: var(--light_blue);
}
.text-red {
  color: var(--red);
}
.text-dark-blue {
  color: var(--dark_blue);
}
.text-dark-blue-65 {
  color: var(--dark-blue-65);
}
.text-green {
  color: var(--green);
}
.text-yellow {
  color: var(--yellow);
}
.bg-gray-light {
  background: var(--gray_light);
}
.bg-gray-dark {
  background: var(--gray_dark);
}
.bg-light-blue {
  background: var(--light_blue);
}
.bg-light-blue-10 {
  background: var(--light-blue-10);
}
.bg-dark-blue-10 {
  background: var(--dark-blue-10);
}
.bg-dark-blue-05 {
  background: var(--dark-blue-05);
}
.bg-red {
  background: var(--red);
}
.bg-red-10 {
  background: var(--red-10);
}
.bg-red-65 {
  background: rgba(255, 38, 74, 0.65);
}
.bg-yellow {
  background: var(--yellow);
}
.bg-yellow-10 {
  background: var(--yellow-10);
}
.bg-shade {
  background: var(--shade);
}
.bg-green {
  background: var(--green);
}
.bg-green-10 {
  background: var(--green-10);
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.radius-5 {
  border-radius: 5px !important;
}
.radius-10 {
  border-radius: 10px !important;
}
p,
h6 {
  font-size: 14px;
}
h5 {
  font-size: 16px;
  color: var(--dark_blue);
}

/*****************************
      Common Input field 
******************************/
.text-field-item {
  position: relative;
}
.text-field {
  border: none !important;
  height: 44px !important;
  border-radius: 5px !important;
  padding-left: 10px !important;
  background: var(--white) !important;
  box-sizing: border-box !important;
}
.small-round-icon {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(60, 126, 243, 0.1) !important;
  color: var(--light_blue);
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-field-item .small-round-icon {
  position: absolute;
  top: 14px;
}
.small-round-icon i {
  font-size: 12px;
}
.text-field:focus {
  box-shadow: none !important;
  border: 0 !important;
  outline: 0 !important;
}
/*****************************
      Outline button 
******************************/
.profile-outline-btn {
  width: 100%;
  height: 50px;
  background: var(--white);
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-shadow: none;
  text-transform: capitalize;
  border-radius: 6px;
}
.profile-outline-btn:hover,
.profile-outline-btn:focus {
  background: var(--white);
}
/*  */
.contact_details {
  border-radius: 10px;
}
.action_selection {
  background: transparent;
  border: 1px solid rgba(60, 126, 243, 0.1);
  width: 135px;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--light_blue);
}
.action_selection:focus {
  outline: 0;
}
.contact_person_icon {
  background: rgba(60, 126, 243, 0.1) !important;
}
.contact_person_icon i {
  color: var(--light_blue);
}
.contact_person_icon span {
  font-size: 14px;
}
.contact_details_top {
  border-bottom: 2px solid var(--gray_light);
}

.user_profile_name h5 {
  font-size: 16px;
}
.edit_share_icon i {
  font-size: 15px;
}
.user_profile_icons {
  flex-wrap: wrap;
}
.user_profile_icons .single_icon i {
  border: 1px solid var(--gray);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.user_profile_icons .single_icon i:hover {
  background: var(--light_blue);
  border: 1px solid var(--light_blue);
  color: var(--white) !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.tab_buttons {
  border-radius: 5px;
  overflow: hidden;
}
.user_profile_tab_item:hover,
.user_profile_tab_item .active {
  background: var(--light_blue) !important;
  border-color: var(--light_blue) !important;
}
.tabs-items:hover,
.tabs-items.active {
  color: var(--white) !important;
}
.indicator {
  display: none;
}

/*****************************
      more info part 
******************************/

.more_info_header {
  border-bottom: 1px solid var(--gray_dark);
}
.more_info_header span {
  background: var(--light_blue);
  height: 26px;
  width: 26px;
  cursor: pointer;
}

/*****************************
         tags part 
******************************/
.tags_header span {
  background: rgba(60, 126, 243, 0.1);
  height: 26px;
  width: 26px;
  cursor: pointer;
}
.tag_items {
  flex-wrap: wrap;
}
.tag_items span {
  border: 0.5px solid var(--gray_dark);
  font-size: 10px;
  border-radius: 5px;
}
.tag_items span i {
  height: 14px;
  width: 14px;
  font-size: 12px;
  padding: 1px;
}

.center_field_tabs {
  border-radius: 10px;
}
.center_field_top {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.center_field_top .tab svg {
  fill: var(--gray) !important;
}
.center_field_top a:hover p,
.center_field_top a:hover i,
.center_field_top .tab .active p,
.center_field_top .tab .active i {
  color: var(--light_blue) !important;
}
.center_field_top a:hover svg,
.center_field_top .tab .active svg {
  fill: var(--light_blue) !important;
}
.conversation_container {
  max-height: 100vh !important;
}
.single_message_box,
.single_note {
  padding: 25px 55px;
  position: relative;
}
.single_note {
  border-radius: 0 0 10px 10px;
}
.single_message {
  border-radius: 10px 10px 10px 0;
}
.message_header {
  border-bottom: 1px solid var(--white);
}
.note_header {
  border-bottom: 1px solid rgba(19, 49, 89, 0.05);
}
.message_header.outgoing_call {
  border-bottom: 1px solid var(--gray_dark);
}
.single_message_type_icon,
.single_note_icon {
  height: 30px;
  width: 30px;
}
.single_message_type_icon i {
  font-size: 15px;
}
.single_message_type_icon.email {
  background: rgba(60, 127, 243, 0.5);
}
.single_message_type_icon.note {
  background: rgba(242, 200, 76, 0.2);
}
.single_message_type_icon.call {
  background: var(--dark-blue-10);
}
.single_message_type_icon.file {
  background: rgba(255, 38, 74, 0.1);
}

.single_message_box > img {
  height: 40px;
  width: 40px;
  position: absolute;
}
.single_message_box .left-side {
  left: 0;
}
.single_message_box .right-side {
  right: 0;
}
.user_message_status {
  position: absolute;
  left: 8px;
  top: 70px;
  height: 25px;
  width: 25px;
}
.user_message_status i {
  font-size: 16px;
}
.show_more_btn {
  border-radius: 5px;
  text-transform: none;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: none;
}
.show_more_btn.bg-light-blue:hover,
.show_more_btn.bg-light-blue:focus {
  background: var(--light_blue);
}
.show_more_btn.bg-yellow:hover,
.show_more_btn.bg-yellow:focus {
  background: var(--yellow);
}
.show_more_btn.bg-red:hover,
.show_more_btn.bg-red:focus {
  background: rgba(255, 38, 74, 0.65);
}
.show_more_btn.bg-gray-dark:hover,
.show_more_btn.bg-gray-dark:focus {
  background: var(--gray_dark);
}
/*****************************
    center field tab part 
******************************/
.center_field_tabs .tabs .tab a:hover,
.center_field_tabs .tabs .tab a.active {
  background: var(--white);
}
/*****************************
     activities tab part 
******************************/
.activities_tab_header {
  overflow: auto;
}
.activities_tab_header a {
  white-space: nowrap;
}
.activities_buttons_groups {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(19, 49, 89, 0.05);
}
.activities_buttons_groups .button_group a svg {
  fill: var(--dark-blue-65);
}
.activities_buttons_groups .button_group {
  height: 40px;
  overflow: hidden;
}
.activities_buttons_groups .button_group a {
  border: 1px solid var(--gray_dark);
  transition: 0.3s linear;
  height: 100%;
}
.activities_buttons_groups .button_group a:hover i {
  color: var(--white);
}
.activities_buttons_groups .button_group a:hover {
  color: var(--white);
  background: var(--light_blue) !important;
  border-color: var(--light_blue);
}
.activities_buttons_groups .button_group a:hover svg {
  fill: var(--white);
}
.activities_items_table h5,
.activities_items_table thead label span {
  font-size: 20px !important;
}
.activities_items_table tbody label span {
  font-size: 14px;
  color: rgba(19, 49, 89, 0.5);
}
.activities_items_table tr {
  border-bottom: 3px solid rgba(60, 127, 243, 0.06);
}
.activities_items_table input[type="checkbox"].filled-in:checked ~ span {
  color: var(--light_blue);
}
.activities_items_table input[type="checkbox"].filled-in:checked tr {
  background: var(--light_blue) !important;
}
.activities_items_table
  input[type="checkbox"].filled-in
  + span:not(.lever):after {
  border-radius: 5px !important;
}
.activities_items_table
  input[type="checkbox"].filled-in
  + span:not(.lever):after {
  border-color: rgba(60, 127, 243, 0.35) !important;
}
.activities_items_table
  input[type="checkbox"].filled-in:checked
  + span:not(.lever):after {
  background: var(--light_blue) !important;
  border-color: var(--light_blue) !important;
}

/*****************************
  files tab and log tab part 
******************************/
#files_tab,
#log_tab {
  height: 100vh;
}
.files_tab_single_file,
.log_tab_single_file {
  border-bottom: 3px solid rgba(60, 127, 243, 0.06);
  transition: 0.3s linear;
}
.files_tab_single_file .files_tabs_time,
.log_tab_single_file .log_tabs_time {
  font-size: 12px;
}
.log_tab_single_file:hover {
  background: var(--light-blue-10);
}
.log_tab_single_file:hover .log_tab_heading {
  color: var(--dark_blue);
}

/*****************************
    collapsible right part 
******************************/
.lead_owner_collapsible {
  border-radius: 10px;
}
.lead_owner_collapsible .collapsible {
  box-shadow: none;
  border: 0;
}
.lead_owner_collapsible .collapsible .collapsible-header svg {
  fill: var(--gray);
}
.lead_owner_collapsible .collapsible .collapsible-header .items_counter {
  height: 26px;
  width: 26px;
}
.lead_owner_collapsible .collapsible .active .collapsible-header {
  background: var(--dark_blue);
  color: var(--white);
  border-radius: 10px 10px 0 0;
}
.lead_owner_collapsible .collapsible .active .collapsible-header h5 {
  color: var(--white);
}
.lead_owner_collapsible
  .collapsible
  .active
  .collapsible-header
  i.text-dark-blue {
  color: var(--white);
  transform: rotate(180deg);
}
.lead_owner_collapsible
  .collapsible
  .active
  .collapsible-header
  .collapsible_add_more_btn {
  display: flex !important;
  height: 26px;
  width: 26px;
}

.lead_owner_collapsible .collapsible .active .collapsible-header svg {
  fill: var(--white) !important;
}
.lead_owner_collapsible .collapsible-header {
  border: 0;
}
.lead_owner_collapsible .collapsible-body {
  border: 0;
}

.collapsible_first_item {
  border-radius: 10px 10px 0 0;
}
.collapsible_last_item {
  border-radius: 0 0 10px 10px;
}

.deals_btn_collapsible {
  border-radius: 5px;
}
.won_lost_btn {
  border: 1px solid;
  border-radius: 40px;
  height: 24px;
}
.won_lost_btn i {
  font-size: 14px;
}

.running_btn_campaigns {
  height: 20px;
  border-radius: 10px;
}
.running_btn_campaigns span {
  font-size: 10px;
}
.running_btn_campaigns i {
  font-size: 14px;
}
#user_profile_dial_call {
  top: 80px !important;
  width: 320px !important;
  height: fit-content !important;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 3%);
  border-radius: 10px;
  left: calc(100vw - 345px) !important;
}
#user_profile_dial_call svg {
  top: 30px;
}
#user_profile_dial_call::before {
  background: url("");
}

#view_all_info {
  height: 95vh;
  top: 80px !important;
  transform: translateX(-100%) !important;
  width: 1170px !important;
  left: calc(100vw - 21px) !important;
  border-radius: 10px 0 0 10px;
}
.view_all_info_header h4 {
  font-size: 24px;
}
.view_all_info_header i {
  height: 26px;
  width: 26px;
  font-size: 26px;
  cursor: pointer;
}
.all_info_content {
  border: 1px solid var(--gray_dark);
  border-radius: 0 0 10px 10px;
}
.all_info_text_field {
  position: relative;
}
.all_info_text_field .all_info_field_item {
  border: 1px solid var(--gray_dark) !important;
  height: 44px !important;
  border-radius: 5px !important;
  padding-left: 45px !important;
  background: var(--white) !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
}
.all_info_text_field span {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 6px;
  top: 6px;
  background: var(--gray_dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/*****************************
        Modal Part Css
******************************/
/* voice mail modal */
.modal {
  outline: 0 !important;
}
.modal-content .modal_header h4 {
  font-size: 20px;
}
.modal_bordered_select_input,
.modal_bordered_text_field {
  border: 1px solid var(--gray_dark) !important;
  color: var(--gray);
  box-shadow: none !important;
}
.modal_bordered_select_input:focus,
.modal_bordered_text_field:focus {
  outline: 0;
}
.voice_mail_icon span {
  height: 40px;
  width: 40px;
}
.voice_mail_sending_tab {
  max-width: 370px;
  margin: 0 auto;
}
.modal_footer_buttons a i {
  font-size: 16px;
}
